@import "tailwindcss";

html, body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: black;
  margin: 0;
  padding: 0;
}

@keyframes flicker {
  0% { opacity: 0.97; }
  5% { opacity: 0.92; }
  10% { opacity: 0.98; }
  15% { opacity: 0.94; }
  20% { opacity: 0.99; }
  100% { opacity: 1; }
}

.animate-flicker {
  animation: flicker 0.15s infinite;
}